<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h5>Shipping Address</h5>
<br>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address1 %>
  </div>

  <div class="field">
    <%= f.label :apt %>
    <%= f.text_field :address2 %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>
<img src="https://s3.amazonaws.com/tombox/calendar.png" alt="TomBox" height="50" width="50">
  <div class="field">
    <%= f.label :When_would_you_like_your_delivery_to_start? %>
    <%= f.date_field :delivery %>
  </div>

  <button style="z-index:0;"class="btn purple darken-1 waves-effect waves-light" type="submit" name="action">  <%= f.submit %>
  </button>
  </div>
<% end %>
<br>
<h5 id="billing">Billing</h5>
<p style="color:red;"> <em>Protecting your billing information is a priority for us. <br> We do not store your billing information on our server. <br>Payment is securely completed via STRIPE (PCI-DSS Compliant)<em></p>
<br>
<%= render 'charges/new' %>
<br>
<br>
<br>
