<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address1 %>
  </div>

  <div class="field">
    <%= f.label :apt %>
    <%= f.text_field :address2 %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>

  <div class="field">
    <%= f.label :When_would_you_like_your_delivery_to_start? %>
    <%= f.date_field :delivery %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= render 'charges/new' %>
<br>
<%=link_to 'Cancel', @profile%>s
