<div class="invoice_table">Invoice History</div>
<br>
<table class="responsive-table bordered">
		<tr>
			<th><strong>Date</strong></th>
			<th><strong>Amount</strong></th>
			<th><strong>Status</strong></th>
		</tr>
		<tr>
			<td><%= Profile.invoice_date(@profile.id) %></td>
			<td><%= Profile.total_amount(@profile.id) %></td>
			<td><%= Profile.status(@profile.id) %> </td>
		</tr>
	</table>
	<br>
	<br>
	<div class="invoice_table">Box Info </div>
	<br>
	<table class="responsive-table bordered">
	<tr>
			 <td><strong>Your monthly delivery day &nbsp;&nbsp;<%= Profile.delivery_day(@profile.delivery) %></strong> </td>
	</tr>
	<tr>
			<td><strong>Total Boxes ordered&nbsp;&nbsp;&nbsp;&nbsp;<%= Profile.boxes(@profile) %></strong></td>
	</tr>
	</table>
<br>
<br>
	<% if @profile.subscribed == nil %>
	<% elsif @profile.subscribed == true %>
  <%= link_to 'Cancel Your Subscription', cancel_profile_charges_path(@profile), method: :put, data: { confirm: 'Are you sure you want to cancel your Subscription?' } %>
  </button>
	<% else %>
  <button class="btn purple darken-1 waves-effect waves-light" type="submit" name="action">   <%= link_to 'Re-Activate Subscription', delivery_profile_path(@profile), method: :get, data: { confirm: 'You need to enter your payment information' } %>
  </button>

	<%end %>
