  <div>
  <strong>Email:</strong>
  <%= @profile.email %>
  <br>
  <strong>Address1:</strong>
  <%= @profile.address1 %>
  <br>
  <strong>Address2:</strong>
  <%= @profile.address2 %>
  <br>
  <strong>City:</strong>
  <%= @profile.city %>
  <br>
  <strong>State:</strong>
  <%= @profile.state %>
  <br>
  <strong>Zip:</strong>
  <%= @profile.zip %>
  </div>