  <p class="dis_title">Your Profile</p>
   <table class="responsive-table bordered">
    <tbody>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @profile.email %></td>
      </tr>
      <tr>
        <% unless @profile.address1.blank? %>
        <td><strong>Address1:</strong></td>
        <td><%= @profile.address1 %></td>
        <% end %>>
      </tr>
      <tr>
        <% unless @profile.address2.blank? %>
        <td><strong>Address2:</strong></td>
        <td><%= @profile.address2 %></td>
        <% end %>
      </tr>
      <tr>
        <% unless @profile.city.blank? %>
        <td><strong>City:</strong></td>
        <td><%= @profile.city %></td>
         <% end %>
      </tr>
      <tr>
        <% unless @profile.state.blank? %>
        <td><strong>State:</strong></td>
        <td><%= @profile.state %></td>
        <% end %>>
      </tr>
      <tr>
        <% unless @profile.zip.blank? %>
        <td><strong>Zip:</strong></td>
        <td><%= @profile.zip %></td>
        <% end %>
      </tr>
    </tbody>
  </table>  