<div class="profile_container">
  <div class="side_panel" data-user="<%= @users %>"></div>
  <div class="main_panel">
    <strong>Email:</strong>
      <%= @profile.email %>
    <br>
    <% unless @profile.address1.blank? %>
      <strong>Address1:</strong>
      <%= @profile.address1 %>
    <% end %>
    <br>
    <% unless @profile.address2.blank? %>
      <strong>Address2:</strong>
      <%= @profile.address2 %>
    <% end %>
    <br>
    <% unless @profile.city.blank? %>
      <strong>City:</strong>
      <%= @profile.city %>
    <% end %>
    <br>
    <% unless @profile.state.blank? %>
      <strong>State:</strong>
      <%= @profile.state %>
    <% end %>
    <br>
    <% unless @profile.zip.blank? %>
      <strong>Zip:</strong>
      <%= @profile.zip %>
    <% end %>
  </div>
</div>
<div class="step_container">
  <div class="step_boxes step_one"></div>
  <div class="step_boxes step_two"></div>
<!--   <div class="step_boxes step_three"></div> -->
</div>
<div class="ref_code">Reference code</div>
<div class="faq">Frequently asked questions</div>
<h4> Names in your account </h4>
  <% @profile.users.each do |user| %>
  <%= link_to user.first_name, profile_user_path(@profile, user) %>  |
  <% end %>
<span>Current orders: <%= pluralize(@profile.users.count, 'Tom box')%>
  <br>
  <%= link_to 'Go To delivery', delivery_profile_path(@profile) %>
</span>
<span>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Start a new order', new_profile_user_path(@profile) %>
  <%= link_to 'New User', new_profile_user_path(@profile) %>  |
</span>

<!-- if/else to put profile on hold or to reactivate -->
<% if @profile.subscribed == nil %>
  <% elsif @profile.subscribed == true %>
      <%= link_to 'Cancel Your Subscription', cancel_profile_charges_path(@profile), method: :put, data: { confirm: 'Are you sure you want to cancel your Subscription?' } %>
  <% else %>
      <%= link_to 'Re-Activate Subscription', delivery_profile_path(@profile), method: :get, data: { confirm: 'You need to enter your payment information' } %>
<%end %>
