<div>
  <h4> "profile show page" probably static page, new user button <br>
    should generate pop up to create new users</h4>
</div>
<div>
  <strong>Account Email:</strong>
  <%= @profile.email %>
  <br>
  <% unless @profile.address1.blank? %>
    <strong>Address1:</strong>
    <%= @profile.address1 %>
  <% end %>

  <% unless @profile.address2.blank? %>
    <strong>Address2:</strong>
    <%= @profile.address2 %>
  <% end %>

  <% unless @profile.city.blank? %>
    <strong>City:</strong>
    <%= @profile.city %>
  <% end %>

  <% unless @profile.state.blank? %>
    <strong>State:</strong>
    <%= @profile.state %>
  <% end %>

  <% unless @profile.zip.blank? %>
    <strong>Zip:</strong>
    <%= @profile.zip %>
  <% end %>
</div>
<br>
<span>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'New User', new_profile_user_path(@profile) %>  |
  <%= link_to 'Go To delivery', "/profiles/#{@profile.id}/delivery" %>
</span>


  <h2> Your users </h2>
  <% @profile.users.each do |user| %>
  <%= link_to user.first_name, profile_user_path(@profile, user)%> |
  <% end %>
