<div>
  <h4> "profile show page" probably static page, new user button <br>
    should generate pop up to create new users</h4>
</div>
<div>
  <strong>Account Email:</strong>
  <%= @profile.email %>
  <br>
  <% unless @profile.address1.blank? %>
    <strong>Address1:</strong>
    <%= @profile.address1 %>
  <% end %>

  <% unless @profile.address2.blank? %>
    <strong>Address2:</strong>
    <%= @profile.address2 %>
  <% end %>

  <% unless @profile.city.blank? %>
    <strong>City:</strong>
    <%= @profile.city %>
  <% end %>

  <% unless @profile.state.blank? %>
    <strong>State:</strong>
    <%= @profile.state %>
  <% end %>

  <% unless @profile.zip.blank? %>
    <strong>Zip:</strong>
    <%= @profile.zip %>
  <% end %>
</div>
<br>
<span>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'New User', new_profile_user_path(@profile) %>  |
  <%= link_to 'Go To delivery', "/profiles/#{@profile.id}/delivery" %>
</span>

<!-- User Account and User names -->
  <h2> You have <%= @profile.users.count %> Tom boxes * need to pluralize</h2>
  <% @profile.users.each do |user| %>
  <%= link_to user.first_name, profile_user_path(@profile, user)%> |
  <% end %>
<br>

<!-- if/else to put profile on hold or to reactivate -->
<% if @profile.subscribed == nil %>
<% elsif @profile.subscribed == true %>
    <%= link_to 'Hold Subscription', hold_profile_path(@profile), method: :put, data: { confirm: 'Are you sure you want to put your subscription on hold?' } %>
<% else %>
    <%= link_to 'Activate Subscription', hold_profile_path(@profile), method: :put, data: { confirm: 'Do you want to re-activate your subscription? ' } %>
<%end %>

<!-- if/else to delete profile -->
<h3> Cancel Account - not sure what page it belongs on?</h3>
<% if @profile.subscribed == true %>
<%= link_to 'Cancel Subscription', @profile, method: :destroy, data: { confirm: 'Are you sure you want to delete your subscription and Account?' } %>
<% else %>
<% end %>
