<div class="banner" data-users="<%= @first %>"></div>

<div class="profile_container">
  <div class="side_panel">
    <ul class="navig" data-profile="<%= @profile.id %>">
      <div class="accordion" id="your_orders">Your Subscriptions</div>
      <% @profile.users.each do |user| %>
      <div class="panel" id='user_profile' data-user="<%= user.id %>"><%= link_to user.first_name, profile_user_path(profile_id:@profile.id,id: user.id) %> </div>
      <% end %>
      <div class="side_links pointer" id="new_user">Add a Box</div>
      <div class="side_links pointer" id="delivery">Delivery</div>
      <div class="side_links pointer" id="refer">Refer someone</div>
      <div class="side_links pointer" id="history">
        <% if @profile.subscribed == nil %>
        <% else @profile.subscribed == true %>
          <%= link_to 'Order History', invoice_profile_path(@profile), method: :get %>
        <% end %>
      </div>
    </ul>
  </div>
<div class="main_panel">
  <p class="dis_title">Your Profile</p>
   <table class="responsive-table bordered">
    <tbody>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @profile.email %></td>
      </tr>
      <tr>
        <% unless @profile.address1.blank? %>
        <td><strong>Address:</strong></td>
        <td><%= @profile.address1 %></td>
        <% end %>>
      </tr>
      <tr>
        <% unless @profile.address2.blank? %>
        <td><strong>Apt/Suite:</strong></td>
        <td><%= @profile.address2 %></td>
        <% end %>
      </tr>
      <tr>
        <% unless @profile.city.blank? %>
        <td><strong>City:</strong></td>
        <td><%= @profile.city %></td>
         <% end %>
      </tr>
      <tr>
        <% unless @profile.state.blank? %>
        <td><strong>State:</strong></td>
        <td><%= @profile.state %></td>
        <% end %>>
      </tr>
      <tr>
        <% unless @profile.zip.blank? %>
        <td><strong>Zip Code:</strong></td>
        <td><%= @profile.zip %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
<div class="step_container modal">
  <button class="user_exit" id="user_exit">X</button>

<%= render 'users/new', user: @user%>
</div>
