
<% if flash[:just_signed_up] %>
<p class="welcome">Thanks for joining TOM!</p>
<% end %>

<div class="banner" data-users="<%= @first %>"></div>

<div class="profile_container">
  <div class="side_panel">
    <ul class="navig" data-profile="<%= @profile.id %>">
      <div class="accordion" id="your_orders">Your Subscriptions</div>
      <% @profile.users.each do |user| %>
      <div class="panel" data-user="<%= user.id %>"><%= link_to user.first_name, profile_user_path(@profile, user) %></div>
      <% end %>
      <div class="side_links pointer" id="new_user">New User</div>
      <div class="side_links pointer" id="delivery">Delivery</div>
      <div class="side_links pointer" id="refer">Refer someone</div>
      <div class="side_links pointer" id="history">
        <% if @profile.subscribed == nil %>
        <% else @profile.subscribed == true %>
          <%= link_to 'Order History', invoice_profile_path(@profile), method: :get %>
        <% end %>
      </div>
    </ul>
  </div>
<div class="main_panel">
  <p class="dis_title">Your Profile</p>
   <table class="responsive-table bordered">
    <tbody>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @profile.email %></td>
      </tr>
      <tr>
        <% unless @profile.address1.blank? %>
        <td><strong>Address1:</strong></td>
        <td><%= @profile.address1 %></td>
        <% end %>>
      </tr>
      <tr>
        <% unless @profile.address2.blank? %>
        <td><strong>Address2:</strong></td>
        <td><%= @profile.address2 %></td>
        <% end %>
      </tr>
      <tr>
        <% unless @profile.city.blank? %>
        <td><strong>City:</strong></td>
        <td><%= @profile.city %></td>
         <% end %>
      </tr>
      <tr>
        <% unless @profile.state.blank? %>
        <td><strong>State:</strong></td>
        <td><%= @profile.state %></td>
        <% end %>>
      </tr>
      <tr>
        <% unless @profile.zip.blank? %>
        <td><strong>Zip:</strong></td>
        <td><%= @profile.zip %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
<div class="step_container modal pop-position">
  <button class="user_exit" id="user_exit">X</button>

  <p id="pro_prevent">Thanks for joining TOM! <br> Please set up your first box preferences to continue.</p>
  <%= form_for ([@profile, @user]) do |u| %>
  <div>
    <%= u.label :first_name %>
    <%= u.text_field :first_name %>
  </div>
  <div>
    <%= u.label :last_name %>
    <%= u.text_field :last_name %>
  </div>
  <div>
    <%= u.label :birthday %>
    <%= u.date_field :birthday %>
  </div>
    <div class="radio">
      I prefer to use...
      <%= u.radio_button(:variety, "tampon") %>
      <%= u.label(:variety_tampon, "All Tampons") %>
      <%= u.radio_button(:variety, "pad") %>
      <%= u.label(:variety_pad, "All Pads") %>
      <%= u.radio_button(:variety, "combo") %>
      <%= u.label(:variety_combo, "Combination") %>
    </div>
    <div class="radio">
      My flow is...
      <%= u.radio_button(:flow, "light") %>
      <%= u.label(:flow_light, "Light") %>
      <%= u.radio_button(:flow, "medium") %>
      <%= u.label(:flow_medium, "Medium") %>
      <%= u.radio_button(:flow, "heavy") %>
      <%= u.label(:flow_heavy, "Heavy") %>
    </div>
    <div class="radio">
      I prefer my Products: Scented or Unscented?
      <%= u.radio_button(:scent, "scented") %>
      <%= u.label(:scent_scented, "Yes") %>
      <%= u.radio_button(:scent, "unscented") %>
      <%= u.label(:scent_unscented, "No") %>
    </div>
  <%= u.submit %>
 <% end %>
</div>
