<!-- <div class="index_exit" id="register_exit">X</div> -->
<!-- <h1> Register </h1> -->

<%= form_for(@profile) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Create Profile", {:controller => "profiles", :action => "show"} %>
  </div>
<% end %>
