<!-- Login in Pop up -->

<div class="index_pop" id="login_pop">
	<div class="index_exit" id="log_in_exit">X</div>
	<h1> Log In </h1>

	<div id="log_in_field">

		<%= form_tag '/login' do %>
		 	<div class="field" id="username_in">
				<%= label_tag :email %>
				<%= text_field_tag :email %>
			</div>
			<div class="field" id="password_in">
				<%= label_tag :password %>
				<%= password_field_tag :password %>
			</div>
		<%= submit_tag 'log in'%>
		<% end %>

	</div>
</div>

<!-- Sign up pop up -->
<div class="index_pop" id="register_pop">
	<div class="index_exit" id="register_exit">X</div>
	<h1> Register </h1>

	<%= form_for(@profile) do |f| %>

	  <div class="field">
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	  </div>

	  <div class="field">
	    <%= f.label :password %>
	    <%= f.password_field :password %>
	  </div>

	  <div class="field">
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Create Profile", {:controller => "profiles", :action => "show"} %>
	  </div>
	<% end %>

</div>

<!-- Welcome page on the below -->
<div class="welcome_top">
<div class="welcome_top_image" >
	<div class="welcome_top_text" >
	<p> Already? Is it that time of the month AGAIN?! </p>
</div>
</div>
</div>

------------------------
<div class= "unique" >
	Its not easy be a women.
Don't let your period surprise you. Let TOM give you a surprise each month!
</div>

----------------------
<div class="reviews">
<div class="reviewer">Lauren
<div class="review">Tom Box is perfect for my busy city lifestyle. The added surprise in each box is the cherry topper. </div>
</div>

<div class="reviewer">Denise
<div class="review">A Tom Box subscription is essential for every woman! Set it and forget it! </div>
</div>

<div class="reviewer">Bob
<div class="review"> Subscribing my wife and 3 daughters to Tom Box has been a lifesaver for me. I know now my girls have what they need and prefer. </div>
</div>

</div>

--------------
<div class="press"> Press
<div class="press_logo"> </div>
</div>
