<h1>welcome to TOM</h1>

<!-- this chunk of info should be in a pop up window-->
<%= form_tag '/login' do %>
 <span class="username_in">
	<%= label_tag :email %>
	<%= text_field_tag :email %>
</span>
<span class="password_in">
	<%= label_tag :password %>
	<%= password_field_tag :password %>
</span>

<%= submit_tag 'log in'%>
<% end %>

<h4> Forgot Password? </h4>
<!--above info will be in a popup -->
