
<!-- Login in Pop up -->
<div class="index_pop" id="login_pop">
	<div class="index_exit" id="log_in_exit">X</div>
	<h3> Log In </h3>
	<div id="log_in_field">
		<%= form_tag '/login' do %>
		<div class="field" id="username_in">
			<%= label_tag :email %>
			<%= text_field_tag :email %>
		</div>
		<div class="field" id="password_in">
			<%= label_tag :password %>
			<%= password_field_tag :password %>
		</div>
		<%= submit_tag 'log in'%>
		<% end %>
	</div>
</div>

<!-- Sign up pop up -->
<div class="index_pop" id="register_pop">
		<div class="index_exit" id="register_exit">X</div>

		<h3> Register </h3>
		<%= form_for(@profile) do |f| %>
		  <div class="field">
		    <%= f.label :email %>
		    <%= f.text_field :email %>
		  </div>

	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
		  <div class="actions">
		    <%= f.submit "Create Profile", {:controller => "profiles", :action => "show"} %>
		  </div>
		<% end %>
	</div>

	<div class="row">
		<div class="col s12 m12 l12 home-top">
			<div class="mission-background">
				<p class="mission-header">TOM</p>
				<p class ="mission-statement"> One less thing to worry about.</p>
			</div>
		</div>
	</div>

 <!-- text break up -->
		<div class="woman col 4">
			<h3 class="easy_women"> It's Not Easy Being A Woman. </h3>
			<div style="display:-webkit-inline-box;">
				<h5 class="period_surprise"> Don't let your period surprise you. Let TOM surprise you with&nbsp;</h5>
				<span><h5 class="surprises">Chocolate!</h5></span>
				<span><h5 class="surprises">Candy!</h5></span>
				<span><h5 class="surprises">Makeup!</h5></span>
				<span><h5 class="surprises">Lotion!</h5></span>
				<span><h5 class="surprises">Nail Polish!</h5></span>
			</div>
		</div>

<!--   Icon Section -->
<div class="section">
	<div class="row">
		<!-- Section 1   -->
		<div class="col s12 m3">
			<div class="circle">
				<div class="icon-block">
					<h2 class="center white-text"><i class="material-icons">group</i></h2>
					<h5 class="center">Choose Your Products </h5>
				</div>
			</div>
			<p class="center">What's in your Box?</p>
			<p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
		</div>

		<!-- section 2 -->
		<div class="col s12 m3">
			<div class="circle">
				<div class="icon-block">
					<h2 class="center white-text"><i class="material-icons">group</i></h2>
					<h5 class="center">User Experience Focused</h5>
				</div>
			</div>
			<p class="center">How do you flow?</p>
			<p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
		</div>

		<!-- section 3 -->
		<div class="col s12 m3">
			<div class="circle">
				<div class="icon-block">
					<h2 class="center white-text"><i class="material-icons">group</i></h2>
					<h5 class="center">User Experience Focused</h5>
				</div>
			</div>
			<p class="center">Smells like flowers?</p>
			<p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
		</div>

		<!-- section 4 -->
		<div class="col s12 m3">
			<div class="circle">
				<div class="icon-block">
					<h2 class="center white-text"><i class="material-icons">group</i></h2>
					<h5 class="center">User Experience Focused</h5>
				</div>
			</div>
			<p class="center">When is your delivery?</p>
			<p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
		</div>
	</div>
</div>
<!-- chevron breakup -->
<div class="chevrons">
  <div><b></b><b></b><b></b><b></b><b></b></div>
  <div><b></b><b></b><b></b><b></b><b></b></div>
  <div><b></b><b></b><b></b><b></b><b></b></div>
  <div><b></b><b></b><b></b><b></b><b></b></div>
  <div><b></b><b></b><b></b><b></b><b></b></div>
	<div><b></b><b></b><b></b><b></b><b></b></div>
	<div><b></b><b></b><b></b><b></b><b></b></div>
</div>
<!-- Press  -->
<div class="mentions row center-align">
<div class="feature_in"><h3>Featured In</h3></div>
	<div class="col s12 m6 l4">
		<div class="press_logo"><img src="https://s3.amazonaws.com/tombox/Mashable.svg" alt="mashable">
		</div>
	</div>
	<div class="col s12 m6 l4">
		<div class="press_logo"><img src="https://s3.amazonaws.com/tombox/buzzfeed_1366.jpg" alt="buzzfeed" >
		</div>
	</div>
	<div class="col s12 m6 l4">
		<div class = "press_logo">
			<img src="https://s3.amazonaws.com/tombox/refinery29.jpeg" alt="refinery29">
		</div>
	</div>
</div>

<div class="row mentions center-align" >
	<div class="col s12 m6 l3">
		<div class="press_logo">
			<img src="https://s3.amazonaws.com/tombox/Cosmopolitan+logo.jpg" alt="Cosmopolitan">
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class="press_logo">
			<img src="https://s3.amazonaws.com/tombox/entrepreneur.png" alt="entrepeneur">
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class = "press_logo"><img src="https://s3.amazonaws.com/tombox/womenshealth.jpeg" alt="womenshealth">
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class = "press_logo"><img src="https://s3.amazonaws.com/tombox/pink-vogue-logo.jpg" alt="vogue">
		</div>
	</div>
</div>

	<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
</div>
