<div class="index_pop z-depth-2" id="login_pop">
	<div class="index_exit valign-wrapper" id="log_in_exit">X</div>
	<h3 class="title center-align"> LOG IN </h3>
	<div id="log_in_field">
		<%= form_tag '/login' do %>
		<div class="login row">
		<div class="input-field col s12">
		<div class="field" id="username_in">
			<%= label_tag :email %>
			<%= text_field_tag :email %>
		</div>
			 </div>
		 </div>
		 <div class="login row">
				<div class="input-field col s12">
		<div class="field" id="password_in">
			<%= label_tag :password %>
			<%= password_field_tag :password %>
		</div>
			 </div>
		 </div>
		<span class="login-button">
			 <button class="btn purple darken-1 waves-effect waves-light" type="submit" name="action"><%= submit_tag 'LOG IN'%>
			 </button>
	 	</span>
		 <div class="forgot-pass">Forgot Password?</div>
		<% end %>
	</div>
</div>

<!-- Sign up pop up -->
<div class="index_pop z-depth-2" id="register_pop">
		<div class="index_exit" id="register_exit">X</div>

	<h3 class="title center-align"> SIGN UP </h3>
		<%= form_for(@profile) do |f| %>
		<div class="sign-up row">
		<div class="input-field col s12">
 <div class="field" id="email">
		    <%= f.label :email %>
		    <%= f.text_field :email %>
		  </div>
		</div>
	</div>
	<div class="sign-up row">
	<div class="input-field col s12">
	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
</div>
</div>
<div class="sign-up row">
<div class="input-field col s12">
	<div class="field">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
</div>
</div>

<div class="login-button">
<button class="btn purple darken-1 waves-effect waves-light" type="submit" name="action"><%= f.submit "SIGN UP", {:controller => "profiles", :action => "show"} %>
</button> </div>
		  </div>
		<% end %>
	</div>
<!-- body of page below -->
	<div class="row responsive-img">
		<div class="col s12 m12 l12 home-top">
			<div class="mission-background">
				<p class="mission-header">TOM.</p>
				<p class ="mission-statement"> One less thing &nbsp;to worry about.</p>
			</div>
		</div>
	</div>

 <!-- how to story -->

<div class="section">
	<div class="how-to row">
		<!-- Section 1 -->
		<div class=" col s12 m3 l3">
				<div class="valign-wrapper how-to-icon">
					<img src="https://s3.amazonaws.com/tombox/file.png" alt="TomBox" height="150" width="150">
				</div>
			<p class="how-to-title center-align">What do you use?</p>
			<p class="light how-to-description">Everyone woman is unique. Choose to have your TOM box filled with 25 items of your choice. You can choose from Tampons, Pads, or a combination of Tampons and Pads. </p>
		</div>

		<!-- section 2 -->
		<div class="col s12 m3 l3">
				<div class="valign-wrapper how-to-icon">
					<img src="https://s3.amazonaws.com/tombox/flow-guide.png" alt="TomBox">
				</div>
			<p class="how-to-title center-align">How do you flow?</p>
			<p class="light how-to-description">Each box comes in 3 different varieties. Our Light option comes with 10 Lights, 10 regulars 5 Supers. Our Regular option comes with 5 lights, 15 regulars 5 supers. And our Heavy option 5 lights, 10 regulars, 10 supers.
 </p>
		</div>

		<!-- section 3 -->
		<div class="col s12 m3 l3">
				<div class="valign-wrapper how-to-icon">
					<img src="https://s3.amazonaws.com/tombox/flower.png" alt="TomBox">
				</div>
			<p class="how-to-title center-align">Smells like flowers?</p>
			<p class="light how-to-description">Your can choose to have your items come scented or without a scent. We want to make sure that each woman has what they need. </p>
		</div>

		<!-- section 4 -->
		<div class="col s12 m3 l3">
				<div class="valign-wrapper how-to-icon">
					<img src="https://s3.amazonaws.com/tombox/calendar.png" alt="TomBox">
				</div>
				<p class="how-to-title center-align">When is your delivery?</p>
				<p class="light how-to-description"> Choose your TOM Box to be delivered the week before that time to be preprard and surprised.Surender to your flow. </p>
			</div>
		</div>
	</div>
</div>

<!--sweet surprise -->
<div class="extras row">
	<div class="col s12 m8 l8">
		<p class="easy-women"> It's Not Easy Being A Woman. </p>
			<div style="display:-webkit-inline-box;">
				<p class="period-surprise"> Don't let your period surprise you. Let TOM surprise you with</p>
					<span><h5 class="surprises">Chocolate!</h5></span>
					<span><h5 class="surprises">Candy!</h5></span>
					<span><h5 class="surprises">Makeup!</h5></span>
					<span><h5 class="surprises">Lotion!</h5></span>
					<span><h5 class="surprises">Nail Polish!</h5></span>
			</div>
			<div class="period-extras">Let's be honest, no one ever REALLY looks forward to this time of the month. We want to give you a reason to. Every month we'll include a little something extra to make an unenjoyable time a little more pleasant. </div>
	</div>
			<div class="candy col s12 m4 l4">
			</div>
</div>


<!-- chevron breakup -->
<div class="chevrons-div">
<div class="chevrons z-depth-1">
  <div><b></b><b></b><b></b><b></b><b></b></div>
  <div><b></b><b></b><b></b><b></b><b></b></div>
  <div><b></b><b></b><b></b><b></b><b></b></div>
  <div><b></b><b></b><b></b><b></b><b></b></div>
  <div><b></b><b></b><b></b><b></b><b></b></div>
	<div><b></b><b></b><b></b><b></b><b></b></div>
	<div><b></b><b></b><b></b><b></b><b></b></div>
</div>
</div>

<!-- Press  -->
<div class="row featured-in center-align">
<p>FEATURED IN</p>
	<div class="col s12 m6 l4">
		<div class="press_logo"><img src="https://s3.amazonaws.com/tombox/Mashable.svg" alt="mashable">
		</div>
	</div>
	<div class="col s12 m6 l4">
		<div class="press_logo"><img src="https://s3.amazonaws.com/tombox/buzzfeed_1366.jpg" alt="buzzfeed">
		</div>
	</div>
	<div class="col s12 m6 l4">
		<div class = "press_logo">
			<img src="https://s3.amazonaws.com/tombox/refinery29.jpeg" alt="refinery29">
		</div>
	</div>
</div>

<div class="row center-align">
	<div class="col s12 m6 l3">
		<div class="press_logo">
			<img src="https://s3.amazonaws.com/tombox/Cosmopolitan+logo.jpg" alt="Cosmopolitan">
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class="press_logo">
			<img src="https://s3.amazonaws.com/tombox/entrepreneur.png" alt="entrepeneur">
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class = "press_logo"><img src="https://s3.amazonaws.com/tombox/womenshealth.jpeg" alt="womenshealth">
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class = "press_logo"><img src="https://s3.amazonaws.com/tombox/pink-vogue-logo.jpg" alt="vogue">
		</div>
	</div>
</div>


<div class="reviews">
	<!-- emoticon image is here -->
	</div>

	<div class="breaker1"></div>

	<div class="breaker2"></div>
