 <button class="user_exit" id="user_exit">X</button>

<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

  <p id="pro_prevent">You must create a user before proceding</p>
  <%= form_for ([@profile, @user]) do |u| %>
  <div>
    <%= u.label :first_name %>
    <%= u.text_field :first_name %>
  </div>
  <div>
    <%= u.label :last_name %>
    <%= u.text_field :last_name %>
  </div>
  <div>
    <%= u.label :birthday %>
    <%= u.date_field :birthday %>
  </div>
    <div class="radio">
      I prefer to use...
      <%= u.radio_button(:variety, "tampon") %>
      <%= u.label(:variety_tampon, "All Tampons") %>
      <%= u.radio_button(:variety, "pad") %>
      <%= u.label(:variety_pad, "All Pads") %>
      <%= u.radio_button(:variety, "combo") %>
      <%= u.label(:variety_combo, "Combination") %>
    </div>
    <div class="radio">
      My flow is...
      <%= u.radio_button(:flow, "light") %>
      <%= u.label(:flow_light, "Light") %>
      <%= u.radio_button(:flow, "medium") %>
      <%= u.label(:flow_medium, "Medium") %>
      <%= u.radio_button(:flow, "heavy") %>
      <%= u.label(:flow_heavy, "Heavy") %>
    </div>
    <div class="radio">
      I prefer my Products: Scented or Unscented?
      <%= u.radio_button(:scent, "scented") %>
      <%= u.label(:scent_scented, "Yes") %>
      <%= u.radio_button(:scent, "unscented") %>
      <%= u.label(:scent_unscented, "No") %>
    </div>

  <%= u.submit %>
 <% end %>
