<% unless @user.id %>
<p id="pro_prevent">Thanks for joining TOM! <br> Please set up your box to continue.</p>
<% end %>
  <%= form_for ([@profile, @user]) do |u| %>
  <div>
    <%= u.label :first_name %>
    <%= u.text_field :first_name %>
  </div>
  <div>
    <%= u.label :last_name %>
    <%= u.text_field :last_name %>
  </div>
  <div>
    <%= u.label :birthday %>
    <%= u.date_field :birthday %>
  </div>
  <img src="https://s3.amazonaws.com/tombox/file.png" alt="TomBox" height="50" width="50">
<span class="user-prefq">I want my TOM Box to have: </span>
    <div class="radio">
      <br>
      <%= u.radio_button(:variety, "tampon") %>
      <%= u.label(:variety_tampon, "All Tampons") %>
      <%= u.radio_button(:variety, "pad") %>
      <%= u.label(:variety_pad, "All Pads") %>
      <%= u.radio_button(:variety, "combo") %>
      <%= u.label(:variety_combo, "A Combination") %>
    </div>
    <img src="https://s3.amazonaws.com/tombox/flow-guide.png" alt="TomBox" height="50" width="50">
    <span class="user-prefq">I flow: </span>
    <div class="radio">
      <br>
      <%= u.radio_button(:flow, "light") %>
      <%= u.label(:flow_light, "Light") %>
      <%= u.radio_button(:flow, "medium") %>
      <%= u.label(:flow_medium, "Medium") %>
      <%= u.radio_button(:flow, "heavy") %>
      <%= u.label(:flow_heavy, "Heavy") %>
    </div>
    <img src="https://s3.amazonaws.com/tombox/flower.png" alt="TomBox" height="50" width="50">
    <span class="user-prefq">Do I want scented products? </span>
    <div class="radio">
      <br>
      <%= u.radio_button(:scent, "scented") %>
      <%= u.label(:scent_scented, "Yes") %>
      <%= u.radio_button(:scent, "unscented") %>
      <%= u.label(:scent_unscented, "No") %>
    </div>
    <button class="btn purple darken-1 waves-effect waves-light" type="submit" name="action" id='create_user'>  <%= u.submit %>
    </button>

 <% end %>
