<div>
  <p class="dis_title"><%= @user.first_name%>'s Preferences</p>
  <table class="responsive-table bordered">
    <tbody>
      <tr>
        <td class="header"><strong>First Name:</strong></td>
        <td class="info"><%= @user.first_name %></td>
      </tr>
      <tr>
        <td><strong>Last Name:</strong></td>
        <td class="info"><%= @user.last_name %></td>
      </tr>
      <tr>
        <td><strong>Birthday:</strong></td>
        <td class="info"><%= @user.birthday %></td>
      </tr>
      <tr>
        <td><strong>Variety </strong></td>
        <td><%= @user.variety %></td>
      </tr>
      <tr>
        <td><strong>Flow</strong></td>
        <td><%= @user.flow %></td>
      </tr>
      <tr>
        <td><strong>Scented?</strong></td>
        <td><%= @user.scent %></td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <h6 class="edit_user"><%= link_to 'Edit', edit_profile_user_path(@profile, @user) %></h6>
  <h6 class="remove_user"><%= button_to "Remove User", profile_user_path(params[:profile_id], @user), method: "delete" %></h6>
</div>
<br><br><br>
