<div>
  <strong><%= @user.first_name%>TOM Box </strong>
  <br>
  <strong>First Name:</strong>
  <%= @user.first_name %>
  <br>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
  <br>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
  <br>
  <strong>My Box: <%= @user.flow %> <%= @user.scent %> <%= @user.variety %></strong>


  <!-- <%= @user.variety %>
  <br>
  <strong>Flow</strong>
  <%= @user.flow %>
  <br>
  <strong>Scented?</strong>
  <%= @user.scent %>
</div>
<br>
<br> -->


<%= link_to 'Edit', edit_profile_user_path(@profile, @user) %> |
<%= link_to 'Add Another Box', new_profile_user_path(@profile) %> |

<!-- <%#= link_to 'Cancel these preferences', destroy_user_path(@profile) %> | -->

<%= link_to 'delivery_profile_path', @profile %>
<!-- <h3> should be go to Delivery/checkout" </h3> -->
