<div>
  <h3> "User show page" <br>
    will be static of profile show page with pop ups <br>
    for user to enter their info and preferences</h3>
</div>

<div>
  <strong><%= @user.first_name%>'s Preferences </strong>
  <br>
  <strong>First Name:</strong>
  <%= @user.first_name %>
  <br>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
  <br>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
  <br>
  <strong>Variety</strong>
  <%= @user.variety %>
  <br>
  <strong>Flow</strong>
  <%= @user.flow %>
  <br>
  <strong>Scented?</strong>
  <%= @user.scent %>
</div>
<br>
<br>

<%= link_to 'Edit Preferences', edit_profile_user_path(@profile, @user) %> |
<%= link_to 'Add Another User', new_profile_user_path(@profile) %> |
<<<<<<< HEAD
=======
<!-- <%#= link_to 'Cancel these preferences', destroy_user_path(@profile) %> | -->
>>>>>>> 603538fd95b507f397ba60ee9688eb62e81faea1

<%= link_to 'Back to Your Page', @profile %> <h3> should be go to Delivery/checkout" </h3>
