<h3> User info </h3>
<%= link_to 'Edit', edit_profile_user_path(@profile, @user) %>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Variety</strong>
  <%= @user.variety %>
</p>

<p>
  <strong>Flow</strong>
  <%= @user.flow %>
</p>

<p>
  <strong>Scented?</strong>
  <%= @user.scent %>
</p>


<%= link_to 'Add Another User', new_profile_user_path(@profile) %> <br>
<%= link_to 'Go To delivery', profile_path(@profile) %>
