<!DOCTYPE html>
<html>
  <head>
    <title>TOM</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
  </head>

  <body  class="<%= controller_name %> <%= action_name %>">
  <header id="navbar">
    <div class="logo">
      welcome to TOM.
    </div>
    <div id="login">
      <% if current_profile %>
        <span id="logout">Signed in as <%= current_profile.email %> | <%= link_to "Logout", logout_path %></span>
      <% else %>
        <span class="login" id="login_link">Login</span> | <span class="login" id="register_link">Register</span>
      <% end %>
    </div>
  </header>

  <%= yield %>
</body>
</html>
