<!DOCTYPE html>
<html>
  <head>
    <title>TOM</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>

  <body  class="<%= controller_name %> <%= action_name %>">
    <header id="navbar">
      <div class="logo">
        <h1>welcome to TOM.</h1>
      </div>
      <div id="login">
        <% if current_profile %>
          <span id="logout">Signed in as <%= current_profile.email %> | <%= link_to "Logout", logout_path %></span>
        <% else %>
          <span class="login" id="login_link">Login</span> | <span class="login" id="register_link">Register</span>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>This is the footer</footer>
  </body>
</html>
